{% extends 'base.html.twig.html' %}

{% block title %}Mon compte la boutique{% endblock %}

{% block content %}
    <h1>Modifier votre mot de passe</h1>
    <a href="{{path('account')}}"> retourner a votre compte</a>

    {% if notification %}
        <div class="alert alert-info"> {{notification}} </div>
    {% endif %}
    
    {{ form(form) }}
{% endblock %}
 